.teamsPageContainer {
    display: flex;
    justify-content: center;
}

.teamCardsRow {
    display: flex;
    justify-content: center;
}

.teamFormStyle {
    padding: 1% 7% 1% 7%;
    margin: 40px;
}

.teamSearchBar {
    width: 300px;
}

.teamSearchButtonStyle {
    display:flex;
    justify-content: flex;
}

.titleRow {
    display: flex;
    justify-content: center;

    margin: 80px;
    font: 400 55px/1.5 'Pacifico', Helvetica, sans-serif;
}