.playersPageContainer {
    display: flex;
    justify-content: center;
}

.playerFormStyle {
    padding: 1% 7% 1% 7%;
    margin: 20px;
}

.playerSearchButtonStyle {
    display:flex;
    justify-content: flex;
}

.searchBarRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.playerSearchBar {
    width: 300px;
}