.ticketsPageContainer {
    display: flex;
    justify-content: center;
}

.ticketsFormStyle {
    padding: 1% 7% 1% 7%;
    margin: 20px;
}

.ticketsSearchButtonStyle {
    display:flex;
    justify-content: flex;
}

.searchBarRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.ticketsSearchBar {
    width: 300px;
}

.ticketCardStyle {
    width: 230px;
    height:350px;
    margin: 16px;
}