/* .jumboTron {
    background-image: url("../../../statics/ballpark.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;;

} */

.containerStyle {
    display: flex;
    justify-content: center;
}

.title {
    margin: 50px;
    font: 400 60px/1.5 'Pacifico', Helvetica, sans-serif;
    color: white;
}

/* .carouselRow { */
    /* background-color: rgba(14, 156, 161, 0.26); */
    /* width: 100%;
    display: flex;
    justify-content: center;

    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue; */
/* } */

.twitterTimelineEmbed {
    width: 100%;
}

/* .row {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
} */

/* .col{
    align-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
} */

:local(.titleStyle){
    width: auto;
    margin:50px auto;
    display: flex;
    justify-content:center;
    font: 400 60px/1.5 'Pacifico', Helvetica, sans-serif;
    color: white;
}